.header {
  grid-area: h;
  background-color: #1b6dd1;
  border-radius: 5px;
}
.header img {
  width: 60px;
}

.header span {
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  position: absolute;
}

.login__block {
  float: right;
  background-color: #2a5885;
  border-radius: 5px;

}
.login__block:hover {
  background-color: white;
  border-radius: 5px;

}
