.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
    padding: 10px;
}

.dialog {
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}
.avatar {
    width: 50px;
    border-radius: 30%;
    margin-left: auto;
}
.textarea {
    margin: 10px;
}
.button {
    margin: 10px;
}